{% extends "base.html" %}

{% block title %}Visualizations - PhantomDB Web Console{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1><i class="bi bi-bar-chart"></i> Data Visualizations</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Visualization Tools</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="/visualizations" class="list-group-item list-group-item-action active">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
                <a href="/visualizations/schema" class="list-group-item list-group-item-action">
                    <i class="bi bi-diagram-3"></i> Schema Visualization
                </a>
                <a href="/visualizations/data" class="list-group-item list-group-item-action">
                    <i class="bi bi-graph-up"></i> Data Charts
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block visualization_content %}{% endblock %}
    </div>
</div>
{% endblock %}